// $primary: #292929;
// $secondary: #292929;
// $footer: #292929;
$border: #cecece;
$shadow: #c5c5c5;
$btnGrey: #6f6f6f;
$lightText: #6e6e6e;
$lightGray: #f8f9fa;
$text: #2f2f2f;
$inputBg: #f1f1f1;
$danger: #f44336;
$success: #60b838;
$white: #ffffff;
$dark: #000000;
$blueBtn: #5259b6;
$yelowBtn: #f9bb00;
$redBtn: #ff6565;
// $aquaBtn: #DC1871;
$aquaGreen: #53bc9c;
$lightpink: #fcf3f3;
// $darkpink: #e960ae;

// $color-primary: #DC1871;
// $color-secondary: var(--color-secondary);
