@import "../../../assets/scss/colours.scss";
@import "../../../assets/scss/breakpoints.scss";

.our-work-container {
  margin-top: 5vw;
  @media screen and (max-width: 600px) {
    margin-top: 20vw;
  }
  & .our-work-header {
    margin-left: 6.6138vw;
    margin-right: 6.6138vw;

    & .btn-filter {
      font-weight: 500;
      font-size: 1.0582vw;
      line-height: 112%;
      color: #3d3d3d;

      border: 0.0331vw solid #111111;
      border-radius: 3.0423vw;
      padding: 0.45vw 0.7937vw 0.2646vw;

      & svg {
        font-size: 1.0582vw;
        position: relative;
        top: -0.15vw;
      }
    }

    & .heading {
      margin-top: 0.8598vw;
      font-weight: 500;
      font-size: 3.7037vw;
      line-height: 112%;
      //   display: flex;
      //   align-items: center;
      letter-spacing: -0.0661vw;
      color: #f52f57;
      border-bottom: 0.1323vw solid #fa0f69;
      max-width: max-content;

      & svg {
        font-size: 2.5vw;
      }
      @media only screen and (max-width: 600px) {
        margin-top: 4vw;
        font-size: 5.5558vw;
        font-weight: 600;
        & svg {
          font-size: 4.228vw;
        }
      }
    }
  }

  .category_selection_menu {
    display: flex;
    flex-flow: row wrap;
    gap: 3.5vw;
    margin-top: 5vw;
    // padding: 2.5vw;
    margin-left: 6.6138vw;

    span {
      transition: 0.3s ease-in-out;
      position: relative;
      padding: 1vw 2.5vw;
      cursor: pointer;
      &::before {
        transition: 0.3s ease-in-out;
        position: absolute;
        content: "";
        bottom: -10%;
        left: 0;
        width: 100%;
        height: 1px;
        border-radius: 5vw;
        background-color: transparent;
      }
      @media screen and (max-width: 600px) {
        font-size: 4.16667vw;
      }
    }
    .active_category {
      // font-weight: bold;
      color: #f52f57;
      &::before {
        background-color: #f52f57;
      }
    }
    .category_opt_Others {
      display: none;
    }
    @media screen and (max-width: 600px) {
      // transform: translateX(-2.5vw);
      grid-gap: 2.25vw;
      margin-bottom: -5vw;
      .category_opt_Branding,
      .category_opt_Packaging {
        display: none;
      }
      .category_opt_Others {
        display: block;
      }
    }
  }

  & .all-works {
    min-height: 20vh;
    @media only screen and (max-width: 600px) {
      display: block;
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-top: 5vw;
    }

    & .work {
      padding-left: 6.6138vw;
      padding-right: 6.6138vw;
      @media only screen and (max-width: 600px) {
        margin-top: 15vw;
        padding-left: 0vw;
        padding-right: 0vw;
      }

      .media_container {
        // background: linear-gradient(#9f3fb2, #2569cf);
        // padding: 20vw 4vw 4vw 4vw;
        // display: block;
        @media screen and (max-width: 600px) {
          padding: 0;
        }
        // width: 100%;
        video {
          @media screen and (max-width: 600px) {
            border-radius: 2.5vw;
            border-radius: 0;
          }
        }
      }

      & div {
        border-radius: 10px;
      }

      & video {
        border-radius: 10px;
      }

      &:nth-child(2n) {
        background-color: #f7f7f7;
      }

      padding-top: 3.3069vw;
      padding-bottom: 3.3069vw;

      & .work-top {
        width: 200%;
        height: 42.328vw;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      & .work-bottom {
        margin-top: 1.5873vw;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 600px) {
          margin-left: 6.6138vw;
          margin-right: 6.6138vw;
        }

        .first_half {
          display: flex;
          justify-content: space-between;
          align-items: center;
          & .title {
            color: #2f2f2f;
            font-feature-settings: "clig" off, "liga" off;
            font-size: 2.3164vw;
            line-height: 150%;
            font-weight: 500;
            @media screen and (max-width: 600px) {
              font-weight: 600;
              font-size: 7.33vw;
              line-height: 1.5;
              color: #2f2f2f;
              padding: 2.5vw 0;
              margin-bottom: 0;
            }
          }
          p {
            text-decoration: underline;
            color: #f52f57;
            @media screen and(max-width:600px) {
              display: none;
            }
          }
        }

        & .description {
          color: #939393;
          font-feature-settings: "clig" off, "liga" off;
          font-size: 18px;
          font-weight: 400;
          line-height: 24px; /* 133.333% */
          width: 60%;

          @media screen and (max-width: 600px) {
            width: 100%;
            font-size: 4.2vw;
            word-spacing: 0.5vw;
          }
        }

        .case_study_mobile {
          display: none;
          @media screen and (max-width: 600px) {
            display: block;
            text-decoration: underline;
            color: #f52f57;
            font-size: 4.11vw;
          }
        }

        & .categories {
          display: flex;
          gap: 1.5873vw;
          @media screen and (max-width: 600px) {
            justify-content: flex-start;
            gap: 5vw;
            align-items: center;
            padding: 2.5vw 0 4vw 0;
          }

          & .category {
            color: #707070;
            font-feature-settings: "clig" off, "liga" off;
            font-size: 20px;
            font-weight: 600;
            line-height: 24px; /* 120% */
            @media only screen and(max-width:600px) {
              font-weight: 600;
              font-size: 3.9873vw;
              line-height: 2;
              height: fit-content;
              color: #707070;
              margin: 0;
              white-space: nowrap;
            }
          }

          & .list {
            display: flex;
            align-items: center;
            gap: 1.2873vw;
            @media screen and (max-width: 600px) {
              flex-flow: row wrap;
              gap: 1.2873vw;
              height: fit-content;
            }

            & p {
              color: #707070;
              font-feature-settings: "clig" off, "liga" off;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px; /* 150% */
              @media screen and (max-width: 600px) {
                margin-bottom: 0;
                font-size: 3.11vw;
                line-height: 1.5;
              }
            }

            & .dot {
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #d9d9d9;
            }
          }
        }
      }
    }
  }

  // .all-works-for-mobile {
  //   display: none;
  //   min-height: 20vh;
  //   @media only screen and (max-width: 600px) {
  //     display: block;
  //     margin-top: 5vw;
  //     margin-left: 0 !important;
  //     margin-right: 0 !important;
  //     // padding: 0 4vw;

  //     .work {
  //       @media only screen and (max-width: 600px) {
  //         margin-top: 15vw;
  //       }
  //       img {
  //         width: 100%;
  //       }

  //       .media_container {
  //         background: linear-gradient(#9f3fb2, #2569cf);
  //         padding: 20vw 4vw 4vw 4vw;
  //         display: block;
  //         // width: 100%;
  //         video {
  //           border-radius: 2.5vw;
  //         }
  //       }

  //       & .work-bottom {
  //         margin-top: 1.5873vw;
  //         display: flex;

  //         @media screen and (max-width: 600px) {
  //           padding: 0 4vw;
  //         }

  //         & .left {
  //           // flex: 1 1 33.7302vw;
  //           width: 100%;
  //           height: fit-content;
  //           display: flex;
  //           justify-content: flex-start;
  //           gap: 5vw;
  //           align-items: center;
  //           padding: 2.5vw 0 4vw 0;

  //           & .category {
  //             font-weight: 600;
  //             font-size: 3.9873vw;
  //             line-height: 2;
  //             height: fit-content;
  //             color: #707070;
  //             margin: 0;
  //             white-space: nowrap;
  //           }
  //           & .list {
  //             display: flex;
  //             align-items: center;
  //             flex-flow: row wrap;
  //             gap: 1.2873vw;
  //             height: fit-content;
  //             // background-color: yellow;
  //             // transform: translateY(0.2446vw);

  //             & p {
  //               color: #707070;
  //               font-feature-settings: "clig" off, "liga" off;
  //               font-size: 12px;
  //               font-weight: 500;
  //               line-height: 18px; /* 150% */
  //               margin: 0;
  //             }

  //             & .dot {
  //               width: 4px;
  //               height: 4px;
  //               border-radius: 50%;
  //               background-color: #d9d9d9;
  //             }
  //           }
  //         }

  //         & .right {
  //           flex: 1 1 calc(100% - 33.7302vw);

  //           & h2 {
  //             font-weight: 500;
  //             font-size: 5.33vw;
  //             line-height: 1.5;
  //             color: #2f2f2f;
  //             padding: 2.5vw 0;
  //             margin-bottom: 0;
  //           }

  //           & p {
  //             margin-top: 0.7937vw;
  //             font-weight: 400;
  //             font-size: 3.7324vw;
  //             line-height: 1.5;
  //             color: #6a6a6a;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

@media screen and (max-width: 768px) {
  .custom-button {
    font-size: 1.3vw;
    & button {
      padding: 1.2vw 0;
    }
  }
}
