@import "../../../../assets/scss/colours.scss";
@import "../../../../assets/scss/breakpoints.scss";

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s;

  .modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    // height: 80%;
    // border-radius: 2vw;
    background-color: #ffffff;
    box-shadow: 0px 22px 43px rgba(0, 0, 0, 0.18);
    display: flex;
    flex-direction: column;

    // padding: 3vw;
    .contact-header {
      display: flex;

      // justify-content: space-evenly;

      .left {
        flex: 1 1 calc(100% - 30.1296vw);
        padding-left: 2.6138vw;
        // padding-right: 4.4312vw;
      }

      .right {
        flex: 1 1 39.1296vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .contact-form {
        .form-header {
          .form-heading {
            font-weight: 600;
            font-size: 2.1746vw;
            line-height: 1.17;
            letter-spacing: -0.0317vw;
            color: #2f2f2f;

            span {
              font-weight: 600;
              font-size: 2.1746vw;
              line-height: 1.17;
              letter-spacing: -0.0317vw;
              color: #f52f57;
            }
          }

          p {
            margin-top: 1.6534vw;
            font-weight: 450;
            font-size: 0.995vw;
            line-height: 1.33;
            letter-spacing: 0.0185vw;
            color: black;
          }
        }

        ::placeholder {
          color: #6f6f6f;
          font-weight: 450;
          font-size: 1.0582vw;
          line-height: 1.25;
          letter-spacing: 0.0185vw;
        }

        .form-body {
          display: flex;
          flex-direction: column;
          gap: 0.5873vw;

          .input-group.twin {
            display: flex;
            gap: 1.5873vw;

            .input-error-holder {
              width: 47.8%;
            }

            & input:first-child {
              flex: 1 1 20.8995vw;
            }

            & input:last-child {
              flex: 1 1 19.4444vw;
            }
          }

          .input-group {
            input,
            select,
            textarea {
              width: 100%;
              font-weight: 450;
              font-size: 1.0582vw;
              line-height: 1.25;
              letter-spacing: 0.0185vw;
            }

            input,
            select {
              padding: 0.5905vw 0.582vw;
              border: 0.0331vw solid #b0b0b0;
              border-radius: 0.2646vw;
              outline: 0;
            }

            select {
              color: #6f6f6f;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              /* Remove default arrow */
              background-repeat: no-repeat;
              background-size: 1.5vw auto;
              background-position: right 1.5em center;
              padding-right: 1em;

              background-image: url("https://i.ibb.co/n1n6W8J/Frame-4054.png");

              /* Add custom arrow */
              select::-ms-expand {
                display: none;
                /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
              }

              option {
                padding: 1.1905vw 1.0582vw;
                font-weight: 450;
                font-size: 1.0582vw;
                line-height: 1.25;
                letter-spacing: 0.0185vw;

                &:not([disabled]) {
                  color: #2f2f2f;
                }
              }
            }

            textarea {
              min-height: 5.4074vw;
              padding-left: 1.0582vw;
              padding-top: 0.8vw;
            }
          }

          .button[type="submit"] {
            padding: 1.0582vw;
            font-weight: 700;
            font-size: 1.1905vw;
            line-height: 1.5212vw;
            color: #ffffff;
            background-color: #fc5555;
            outline: 0;
            border: 0;
            border-radius: 0.2646vw;
          }
        }

        .form-footer {
          display: flex;
          align-items: center;
        }

        .flex-wrapper {
          display: flex;
          align-items: center;
          p {
            margin-top: 0 !important;
          }
        }

        // .form-footer {
        //   margin-top: 1.918vw;
        //   background-color: #ffedf1;
        //   border-radius: 0.2646vw;
        //   display: flex;
        //   justify-content: space-between;
        //   padding: 1.0582vw;

        //   .footer-left {
        //     max-width: 23.9418vw;

        //     .flex-wrapper {
        //       display: flex;
        //       gap: 0.5291vw;

        //       // flex: 1 1 23.9418vw;
        //       // max-width: 23.9418vw;
        //       .img-container {
        //         flex: 0 0 2.9101vw;

        //         img {
        //           width: 100%;
        //           height: auto;
        //         }
        //       }

        //       p {
        //         font-weight: 400;
        //         font-size: 0.9259vw;
        //         line-height: 1.43;
        //         letter-spacing: -0.0066vw;
        //         color: #6f6f6f;
        //         margin-bottom: 0;
        //         max-width: 19.4444vw;
        //       }
        //     }
        //   }

        //   .footer-right {
        //     max-width: 16.5423vw;

        //     .flex-wrapper {
        //       display: flex;
        //       gap: 0.5291vw;

        //       .footer-btn {
        //         font-weight: 700;
        //         font-size: 0.9259vw;
        //         line-height: 1.1905vw;
        //         color: #3d3d3d;
        //         border: 0.1661vw solid #000000;
        //         border-radius: 0.2646vw;
        //         padding: 0.2vw;
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.0001vw;
  position: absolute;
  right: 0;
  .icon-close {
    z-index: 1;
    font-size: 1.8vw;
    margin-top: 0.32vw;
  }
}

.titleCloseBtn button {
  height: 0vw;
  z-index: 1;
  color: red;
  font-weight: 500;
  border: none;
  font-size: 1vw;
  cursor: pointer;
  border-radius: 0.5vw;
}

@media screen and (max-width: 600px) {
  .modal-window {
    .modalContainer {
      // width: 80%;
      // height: 95%;
      padding: 3vw;
      .contact-header {
        flex-direction: column-reverse;

        .left {
          margin-top: -40vw;
          padding-left: 4.4312vw;
          padding-right: 4.4312vw;

          .contact-form {
            .form-header {
              text-align: center;

              h1 {
                font-weight: 500;
                font-size: 6vw;

                span {
                  font-weight: 500;
                  font-size: 6vw;
                }
              }

              p {
                text-align: left;
                font-size: 3.2556vw;
                font-weight: 500;
              }
            }
          }
        }

        .right {
          img {
            // height: 70%;
            display: none;
          }
        }

        .contact-form {
          ::placeholder {
            color: #6f6f6f;
            font-weight: 450;
            font-size: 3.6889vw;
            line-height: 1.45;
            letter-spacing: 0.0185vw;
            padding-top: 4vw;
            padding-left: 2vw;
          }

          .form-body {
            display: flex;
            flex-direction: column;
            gap: 0.5873vw;

            .input-group.twin {
              display: block;

              .input-error-holder {
                width: 100%;

                .error-msg {
                  font-size: 1vw;
                }
              }

              .twin-2nd {
                margin-top: 0.8vw;
              }
            }

            .input-group {
              .first-input {
                padding-left: 3.4vw;
                padding-top: 0.8vw;
                padding-bottom: 0.8vw;
              }

              .input-padding {
                padding-left: 1vw;
                padding-top: 0.8vw;
                padding-bottom: 0.8vw;
              }

              input,
              select,
              textarea {
                width: 100%;
                font-weight: 450;
                font-size: 4.444vw;
                line-height: 1.25;
                letter-spacing: 0.0185vw;
              }

              input,
              select {
                padding: 1.1905vw 0.0582vw;
                border: 0.0331vw solid #b0b0b0;
                // border-radius: 2.2646vw;
                outline: 0;
              }

              select {
                color: #6f6f6f;
                background-size: 2.8vw;

                option {
                  padding: 1.1905vw 1.0582vw;
                  font-weight: 450;
                  font-size: 4.2582vw;
                  line-height: 1.25;
                  letter-spacing: 0.0185vw;

                  &:not([disabled]) {
                    color: #2f2f2f;
                  }
                }
              }

              textarea {
                width: 91.1111vw;
                min-height: 15.2111vw;
                padding-left: 1.0582vw;
                padding-top: 0.8vw;
              }
            }

            .button[type="submit"] {
              margin-top: 2vw;
              padding-top: 4.5833vw;
              padding-bottom: 4.5833vw;
              font-weight: 700;
              font-size: 5vw;
              line-height: 1.5212vw;
              color: #ffffff;
              background-color: #fc5555;
              outline: 0;
              border: 0;
              border-radius: 0.2646vw;
            }
          }

          .form-footer {
            // max-width: 71.1111vw;
            // height: 26.8333vw;
            margin-top: 1.918vw;
            background-color: #ffedf1;
            border-radius: 0.2646vw;
            display: flex;
            flex-direction: column;
            // align-items: center;
            padding-top: 4vw;
            padding-bottom: 5vw;
            // justify-content: space-between;
            // text-align: center;
            // padding: 1.0582vw;

            .footer-left {
              max-width: 60.9418vw;

              .flex-wrapper {
                display: flex;
                flex-direction: row;
                gap: 2.5291vw;

                // flex: 1 1 23.9418vw;
                // max-width: 23.9418vw;
                .img-container {
                  // flex: 0 0 2.9101vw;

                  img {
                    width: 9.4444vw;
                    height: 9.4444vw;
                  }
                }

                p {
                  font-weight: 400;
                  font-size: 3.2vw;
                  line-height: 1.43;
                  letter-spacing: -0.0066vw;
                  color: #6f6f6f;
                  margin-bottom: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  // max-width: 19.4444vw;
                }
              }
            }

            .footer-right {
              // max-width: 45.5423vw;
              display: flex;
              justify-content: center;

              .flex-wrapper {
                display: flex;
                flex-direction: row-reverse;
                gap: 2.5291vw;
                margin-left: 4vw;

                a {
                  width: 27.2222vw;
                  height: 6.1111vw;
                }

                button {
                  // width: 18.0556vw;
                  // height: 6.1111vw;
                }

                .footer-btn {
                  border: 0.0661vw solid #000000;
                  font-weight: 700;
                  font-size: 1.7778vw;
                  line-height: 2.6111vw;
                  color: #3d3d3d;
                  border-radius: 1.1111vw;
                  // padding-top: 2vw;
                  // padding-bottom: 2vw;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  a {
                    font-size: 3.2vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.0001vw;
    .icon-close {
      font-size: 3.8vw;
      margin-top: 0.42vw;
    }
  }
}
