footer {
  background: #2f2f2f;
  color: #fff;
  padding-left: 6.9444vw;
  padding-right: 6.9444vw;
  padding-top: 3.1587vw;
  padding-bottom: 1.1548vw;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-content: center;

    // align-items: flex-start;
    & .site-info {
      flex: 1 1 30%;

      & img {
        width: 9.2361vw;
        height: 2.5258vw;
      }

      & p {
        margin-top: 0.6786vw;
        font-family: "neue-haas-grotesk-display";
        font-style: normal;
        font-weight: 500;
        font-size: 0.9959vw;
        line-height: 1.43;
        letter-spacing: 0.0185vw;
      }

      & a {
        color: white;
        font-weight: 600;
        font-size: 1.2491vw;
        line-height: 1.3879vw;
      }
    }

    & .site-social {
      flex: 1 1 30%;
      display: flex;
      margin-left: -1vw;

      & .site-social-follow {
        display: flex;
        flex-direction: column;
        margin-top: 2vw;
      }

      & small {
        margin-left: 1vw;
        font-size: 0.8715vw;
      }

      & span {
        & a {
          color: #fff;
          margin-left: 1vw;
        }

        svg {
          margin-top: 1vw;
          width: 1.955vw;
          height: 1.955vw;
        }
      }
    }

    & .site-menu {
      // flex: 1 1 40%;
      display: flex;
      justify-items: flex-end;
      align-items: flex-start;
      gap: 1.5873vw;
      margin-left: 12vw;

      & .left-company {
        & span {
          font-family: "neue-haas-grotesk-display";
          font-style: normal;
          font-weight: 600;
          font-size: 1.1582vw;
          line-height: 1.5;
          letter-spacing: -0.0132vw;
          color: #f6f1f9;
        }
      }

      & .right-links {
        display: flex;
        // grid-column-gap: 0.vw;
        column-gap: 0.65vw;
        max-width: 26vw;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: end;

        & span {
          margin-bottom: 0.5vw;

          a {
            font-family: "neue-haas-grotesk-display";
            font-style: normal;
            font-weight: 400;
            font-size: 0.9259vw;
            line-height: 1.43;
            letter-spacing: 0.0185vw;
            color: #ffffff;

            &.big-text {
              font-style: normal;
              font-weight: 400;
              font-size: 0.9259vw;
              line-height: 1.5;
              letter-spacing: 0.0185vw;
              color: #f6f1f9;
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    margin-bottom: 2.0304vw;
    font-style: normal;
    font-weight: 400;
    font-size: 0.7937vw;
    line-height: 1.33;
    letter-spacing: 0.0185vw;
    padding-top: 1.1224vw;
    text-align: start;
    text-align: end;
  }
  .site-menu-mobile {
    display: none;
  }
}

// footer{
//     background: #2F2F2F;;
//     color: #fff;
//     h2{
//         font-family: "neue-haas-grotesk-display"!important;
//         font-size: 16px!important;
//     }
//     ul{
//         li{
//             a{
//                 color: #fff!important;
//                 font-family: "neue-haas-grotesk-display"!important;
//                 font-size: 14px!important;
//                 letter-spacing: 0.28px;
//                 line-height: 143%;
//                 font-weight: 400;
//             }
//         }
//     }

// }

@media only screen and (max-width: 600px) {
  footer {
    padding: 11vw 4.9vw;
    .footer-container {
      & .flex-wrapper {
        gap: 3vw;
      }
      & .site-info {
        display: flex;
        flex-direction: column;
        gap: 4vw;
        & p {
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
          font-size: 3.6vw;
          letter-spacing: 0.075vw;
        }

        & a {
          color: white;
          line-height: normal;
          font-weight: 700;
          font-size: 4.3vw;
          letter-spacing: 0.06vw;
        }
        & img {
          width: 23vw;
          height: auto;
        }
      }

      & .site-social {
        & .site-social-follow {
          div {
            display: flex;
            /* width: 17vw; */
            gap: 2.5vw;
            margin-top: 0.5vw;
          }
          a {
            height: auto;
            display: block;
          }
          svg {
            width: 6.6vw;
            display: block;
            height: auto;
          }
        }
        & small {
          margin-left: 1vw;
          font-size: 3.6vw;
        }
      }
      & .site-menu {
        display: none;
        // height: 10vw;

        & .right-links {
          // height: 100%;

          column-gap: 2.5291vw;
          & span {
            // margin-bottom: 0.5vw;
            margin-left: -5.5vw;
            margin-right: 8.5vw;

            a {
              font-family: "neue-haas-grotesk-display";
              font-style: normal;
              font-weight: 400;
              // font-size: 1.5259vw;
              font-size: 3.4vw;
              line-height: 1.93;
              letter-spacing: 0.1185vw;
              color: #ffffff;

              &.big-text {
                font-style: normal;
                font-weight: 400;
                font-size: 2.8vw;
                line-height: 0.43;
                letter-spacing: 0.1185vw;
                color: #f6f1f9;
              }
            }
          }
        }
      }
      & .site-menu-mobile {
        display: flex;
        flex-wrap: wrap;
        column-gap: 4vw;
        row-gap: 3vw;
        margin-top: 5vw;
        // height: 10vw;

        p {
          font-weight: 400;
          font-size: 14px;
          font-size: 3.7vw;
          margin: 0;
          color: #f6f1f9;
          letter-spacing: -0.18px;
        }
      }
    }

    .flex-wrapper {
      display: flex;
      flex-direction: column;
    }

    .footer-copyright {
      letter-spacing: 0.1185vw;
      padding-top: 1.1224vw;
      text-align: start;
      margin-top: 6vw;
      font-size: 2.2vw;
    }
  }
}
