@import "../../../../assets/scss/colours.scss";
@import "../../../../assets/scss/breakpoints.scss";

.see-yourself-container {
  display: grid;
  grid-template-columns: 13.7797vw 5.666vw 19.4457vw 20.4259vw 1fr;

  & .see-yourself-content-1 {
    grid-area: 1 / 1 / 2 / 5;
    padding: 8.069vw 11.0522vw;
    background-color: #ff6565;
    color: #fff;

    & h2 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 2.3809vw;
      line-height: 1.33;

      letter-spacing: -0.03em;
    }

    & p {
      margin-top: 1.8518vw;
      font-family: "Lora";
      font-style: normal;
      font-weight: 400;
      font-size: 1.0582vw;
      line-height: 1.62;
      letter-spacing: -0.03em;
    }
  }

  & .see-yourself-content-2 {
    grid-area: 1 / 5 / 2 / 6;
    // margin-left: 4.5634vw;
    // padding-top: 2.5132vw;
    // margin-right: 4.365vw;

    & img {
      // width: 30.8201vw;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & p {
      margin-top: 1.3227vw;
      max-width: 30.8201vw;
      font-weight: 400;
      font-size: 1.1904vw;
      line-height: 1.44;
      letter-spacing: -0.03em;
      color: #2f2f2f;
      font-family: "Inter";
      font-style: normal;
    }

    & .user-container {
      display: flex;
      align-items: center;
      gap: 1.1058vw;
      margin-top: 2.381vw;

      & img {
        width: 5.291vw;
        height: 5.291vw;
      }
    }
  }

  & .see-yourself-content-3 {
    grid-area: 2 / 1 / 3 / 4;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .see-yourself-content-4 {
    grid-area: 2 / 2 / 3 / 4;
    padding: 2.6455vw 4.5634vw 2.6455vw 2.5132vw;

    & p {
      font-weight: 400;
      font-size: 1.1904vw;
      line-height: 1.44;
      letter-spacing: -0.03em;
      color: #2f2f2f;
      font-family: "Inter";
      font-style: normal;
    }

    & .signature {
      margin-top: 1.7196vw;
    }
  }

  & .see-yourself-content-5 {
    grid-area: 2 / 4 / 4 / 6;
    // background-color: #2ab7ca;
    // padding: 3.0423vw 5.3161vw;

    display: flex;
    gap: 1.6091vw;

    & img {
      // width: 30.8201vw;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .left {
      flex: 0 0 18.117vw;

      & * {
        max-width: 18.117vw;
      }

      & button {
        font-weight: 700;
        font-size: 0.7936vw;
        line-height: 1;
        letter-spacing: -0.0119vw;
        color: #ffffff;

        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 1.1904vw;
        padding: 0.7936vw 1.455vw;
      }

      & h3 {
        margin-top: 4.6296vw;
        font-weight: 700;
        font-size: 1.3227vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #ffffff;
        font-family: "Inter";
        font-style: normal;
      }

      & p {
        margin-top: 1.0582vw;
        font-weight: 400;
        font-size: 0.9259vw;
        line-height: 150%;
        letter-spacing: -0.03em;
        color: #000000;
        font-family: "Inter";
        font-style: normal;
      }
    }

    & .right {
      flex: 1;
      width: 30.8478vw;
      height: 26.6534vw;
      position: relative;
      overflow: hidden;

      .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  & .see-yourself-content-6 {
    grid-area: 3 / 1 / 4 / 3;
    // background-color: #42ac97;
    // padding: 1.9841vw;

    & img {
      // width: 30.8201vw;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & span {
      font-weight: 700;
      font-size: 3.1746vw;
      line-height: 1.2;
      letter-spacing: -0.0972vw;
      color: #ffffff;
      text-align: center;
      display: block;
      font-family: "Inter";
      font-style: normal;
    }

    p {
      font-family: "Lora";
      font-style: normal;
      font-weight: 400;
      font-size: 0.9259vw;
      line-height: 1.71;
      letter-spacing: -0.0311vw;
      color: #ffffff;
    }
  }

  & .see-yourself-content-7 {
    grid-area: 3 / 3 / 4 / 4;
    // background-color: #5259b6;
    // background-image: url("../../../../assets/_design/top-view-of-a-table-with-man-square.jpeg");
    // background-size: cover;
    // position: relative;
    & img {
      // width: 30.8201vw;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .bg-overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #5259b6e6;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // z-index: -1;

      & span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 3.7037vw;
        line-height: 1.2;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.1323vw;
        color: #ffffff;
      }

      & p {
        margin-top: 0.5291vw;
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 1.1905vw;
        line-height: 1.2;
        text-align: center;
        letter-spacing: -0.0331vw;
        color: #fffffe;
      }
    }
  }

  & .signature {
    & .name,
    & .position {
      font-style: normal;
      font-size: 1.0582vw;
      line-height: 160%;
      letter-spacing: -0.04em;
    }
    & .name {
      font-family: "Inter";
      font-weight: 600;
      color: #979797;
      margin-bottom: 0;

      & .position {
        font-family: "Lora";
        font-weight: 400;
        color: #2f2f2f;
        margin-top: 1vw;
      }
    }

    & .organization {
      img {
        height: 1.0582vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .see-yourself-container {
    // display: grid;
    display: flex;
    flex-direction: column;
    // grid-template-rows: 30vw 25vw 20vw 40vw;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns: 1fr;

    & .see-yourself-content-1 {
      // grid-area: 1 / 1 / 2 / 6;
      padding: 8.069vw 11.0522vw;
      background-color: #ff6565;
      color: #fff;

      & h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 4.5vw;
        line-height: 1.33;

        letter-spacing: -0.03em;
      }

      & p {
        margin-top: 1.8518vw;
        font-family: "Lora";
        font-style: normal;
        font-weight: 400;
        font-size: 3.2582vw;
        line-height: 1.42;
        letter-spacing: -0.03em;
        text-align: justify;
      }
    }

    & .see-yourself-content-2 {
      // grid-area: 2 / 1/ 4 / 5;
      // margin-left: 4.5634vw;
      // padding-top: 2.5132vw;
      // margin-right: 4.365vw;

      & img {
        // width: 34.8201vw;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & p {
        margin-top: 1.3227vw;
        max-width: 30.8201vw;
        font-weight: 400;
        font-size: 1.5904vw;
        line-height: 1.44;
        letter-spacing: -0.03em;
        color: #2f2f2f;
        font-family: "Inter";
        font-style: normal;
      }

      & .user-container {
        display: flex;
        align-items: center;
        gap: 1.1058vw;
        margin-top: 2.381vw;

        & .signature {
          h3 {
            padding-top: 2vw;
          }
        }

        & img {
          width: 6.291vw;
          height: 6.291vw;
        }
        & .organization {
          img {
            width: 8vw;
            height: 2.1058vw;
            margin-bottom: 1vw;
          }
        }
      }
    }

    & .see-yourself-content-3 {
      // grid-area: 2 / 1 / 2 / 3;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & .see-yourself-content-4 {
      // grid-area: 2 / 1 / 3 / 4;
      padding: 2.6455vw 4.5634vw 2.6455vw 2.5132vw;

      & p {
        font-weight: 400;
        font-size: 1.3904vw;
        line-height: 1.44;
        letter-spacing: -0.03em;
        color: #2f2f2f;
        font-family: "Inter";
        font-style: normal;
      }

      & .signature {
        margin-top: 1.7196vw;

        & .name {
          font-size: 1.3582;
        }
      }
    }

    & .see-yourself-content-5 {
      // grid-area: 4 / 1 / 4 / 6;
      // background-color: #2ab7ca;
      // padding: 3.0423vw 5.3161vw;

      // display: flex;
      // gap: 1.6091vw;
      & img {
        // width: 30.8201vw;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & .left {
        flex: 0 0 40.117vw;

        & * {
          max-width: 28.117vw;
        }

        & button {
          font-weight: 700;
          font-size: 1.936vw;
          line-height: 1;
          letter-spacing: -0.0119vw;
          color: #ffffff;

          background-color: transparent;
          border: 2px solid #ffffff;
          border-radius: 1.1904vw;
          padding: 0.7936vw 1.455vw;
        }

        & h3 {
          margin-top: 4.6296vw;
          font-weight: 700;
          font-size: 2.157vw;
          line-height: 150%;
          letter-spacing: -0.03em;
          color: #ffffff;
          font-family: "Inter";
          font-style: normal;
        }

        & p {
          margin-top: 1.0582vw;
          font-weight: 400;
          font-size: 1.5259vw;
          line-height: 150%;
          letter-spacing: -0.03em;
          color: #000000;
          font-family: "Inter";
          font-style: normal;
        }
      }

      & .right {
        flex: 1;
        width: 30.8478vw;
        height: 26.6534vw;
        position: relative;
        overflow: hidden;

        .responsive-iframe {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    & .see-yourself-content-6 {
      // grid-area: 3 / 1 / 3 / 2;
      // background-color: #42ac97;
      // padding: 1.9841vw;

      & img {
        // width: 30.8201vw;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & span {
        font-weight: 700;
        font-size: 3.1746vw;
        line-height: 1.2;
        letter-spacing: -0.0972vw;
        color: #ffffff;
        text-align: center;
        display: block;
        font-family: "Inter";
        font-style: normal;
      }

      p {
        font-family: "Lora";
        font-style: normal;
        font-weight: 400;
        font-size: 1.359vw;
        line-height: 1.71;
        letter-spacing: -0.0311vw;
        margin-top: 1vw;
        color: #ffffff;
      }
    }

    & .see-yourself-content-7 {
      // grid-area: 3 / 1 / 4 / 3;
      // background-color: #5259b6;
      background-image: url("../../../../assets/_design/top-view-of-a-table-with-man-square.jpeg");
      background-size: cover;
      position: relative;

      & .bg-overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #5259b6e6;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // z-index: -1;

        & span {
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 3.7037vw;
          line-height: 1.2;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: -0.1323vw;
          color: #ffffff;
        }

        & p {
          margin-top: 0.5291vw;
          font-family: "Inter";
          font-style: normal;
          font-weight: 700;
          font-size: 1.4905vw;
          line-height: 1.2;
          text-align: center;
          letter-spacing: -0.0331vw;
          color: #fffffe;
        }
      }
    }
  }
}
